 IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# env
*/.env

# compiled
node_modules

# docker
docker/mountpoints
backend/test/mountpoints


# Backend

backend/.env
backend/.env.test

# dependencies
backend/node_modules/

# IDE
backend/.idea
backend/.awcache
backend/.vscode
backend/*.code-workspace

# bundle
backend/packages/**/*.d.ts
backend/packages/**/*.js

# misc
backend/.DS_Store
backend/lerna-debug.log
backend/npm-debug.log
backend/yarn-error.log
backend/**/npm-debug.log
backend/packages/**/.npmignore
backend/packages/**/LICENSE

# example
backend/quick-start
backend/example_dist
backend/example

# tests
backend/benchmarks/memory
backend/dist
backend/coverage

# frontend
frontend/dist
frontend/coverage
frontend/.angular
.angular/**/*

docker/mountpoints/**

coverage/
