# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Intellij Idea
.idea

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


# Backend

backend/.env
backend/.env.test

# dependencies
backend/node_modules/

# IDE
backend/.idea
backend/.awcache
backend/.vscode
backend/*.code-workspace

# bundle
backend/packages/**/*.d.ts
backend/packages/**/*.js

# misc
backend/.DS_Store
backend/lerna-debug.log
backend/npm-debug.log
backend/yarn-error.log
backend/**/npm-debug.log
backend/packages/**/.npmignore
backend/packages/**/LICENSE

# example
backend/quick-start
backend/example_dist
backend/example

# tests
backend/benchmarks/memory
backend/coverage
backend/.nyc_output
backend/packages/graphql
backend/build/config\.gypi

# local db mountpoint
backend/docker/mountpoints
