:host {
    display: block;

    .score {
        color: #FFFFFF;
        position: absolute;
        padding: .4em;
        text-align: end;
    }

    .snake-container {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
}

