.welcome-wrapper {
  align-items: center;
  display: flex;
  height: 90%;
  justify-content: center;
  padding: 5rem;
}

.card-actions {
  .twitch-link {
    color: #6441A5;
    margin-right: .3rem;
  }
}
